/* styles.css */ 

/*index starts here*/ 
#gif img{ 
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    height: 50%;
    width: 50%;
    
} 

body{
    background-image: url(../img/paperwallpaper.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h3 { 
    font-family: "IBM Plex Mono", monospace; 
    font-style: normal;
    text-align: center;
    font-style: normal;
    text-align: center;
    color: black;  
    margin-bottom: 5px;
}


/*feed starts here*/ 

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
  }

img{
display: block;
margin-left:auto ;
margin-right: auto; 
height: 100%;
width: 100%;
}

video{ 
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 30%; 
    padding: 25px;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255); 
    
} 

figcaption{
        font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px;
        padding: 25px;
        border-width: 10px 12px 4px;
        border: solid 5px black;
        background-color: white; 
        border-radius: 20px;
        height:50%;
        width:45%;
        margin: 10px auto;
    text-align: center;
        
}


h2{
    font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px;
        padding: 25px;
        border: solid 10px rgb(255, 255, 255);
        border-width: 3px 10px 12px 4px;
        background-color: rgb(230, 168, 168); 
        border-radius: 20px;
        height:50%;
        width:45%;
        margin: 10px auto;
        color: rgb(7, 7, 7);
    text-align: center;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;

  }


section{ 
    display: flex;
    flex: row;
    justify-content: space-between;
}



#feed{
    background-image: url(../feed/img/wallpapermyfeed1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#polaroid img{
   margin-bottom: 5px;
   width: 400px;
   height: 350px;
   position: fixed;
   top: 10px;
   left: 0px; 
} 




