/* styles.css */ 

/*index starts here*/ 
img{ 
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 30%; 
    margin-top: 15%;
} 

img {
    margin-top: 15%;
    align-items: center; 
    size: 100%;
    size-adjust: 100%;

} 

body{
    background-image: url(../img/paperwallpaper.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

 

/*feed starts here*/ 

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
  }

img{
display: block;
margin-left:auto ;
margin-right: auto; 
width: 30%;
}

video{ 
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 30%; 
    padding: 25px;
    border: solid 10px black; 
    border-width: 3px 10px 12px 4px;
    background-color: white;
    
} 

figcaption{
        font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px;
        padding: 25px;
        border: solid 10px black;
        border-width: 3px 10px 12px 4px;
        background-color: white; 
        border-radius: 20px;
        height:50%;
        width:45%;
        margin: 10px auto;
    text-align: center;
        
}

h2{
    font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px;
        padding: 25px;
        border: solid 10px rgb(255, 255, 255);
        border-width: 3px 10px 12px 4px;
        background-color: rgb(136, 0, 0); 
        border-radius: 20px;
        height:50%;
        width:45%;
        margin: 10px auto;
        color: white;
    text-align: center;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;

  }


section{ 
    display: flex;
    flex: row;
    justify-content: space-between;
}



#feed{
    background-image: url(../img/wallpaperpt2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer{
    font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px;
        padding: 25px;
        border: solid 10px black;
        border-width: 3px 10px 12px 4px;
        background-color: rgb(255, 255, 255); 
        border-radius: 20px;
        height:50%;
        width:45%;
        margin: 10px auto;
    text-align: center;
}




